/.tmp/
/.vagrant/
pkg/
/spec/fixtures/modules
/spec/fixtures/manifests
log/
junit/
spec/software/
.vendor/
.bundle
.DS_Store
/.byebug_history
/tests/.byebug_history
convert_report.txt
update_report.txt
.*.sw[op]
.metadata
.yardoc
.yardwarns
*.iml
/.bundle/
/.idea/
/coverage/
/bin/
/doc/
/Gemfile.local
/junit/
/log/
/pkg/
/spec/fixtures/manifests/
/spec/fixtures/modules/
/tmp/
/vendor/
/convert_report.txt
/inventory.yaml
